body {
    font-family: Arial, sans-serif;
}

p {
    background-color: #ccc;
}

.task-bold {
    font-weight: bold;
}

.task-size {
    font-size: 20px;
}

.task-center {
    text-align: center;
}

.task-monospace {
    font-family: monospace;
}

.task-color {
    color: red;
}

.task-complex {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color: green;

}

.task-times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

.task-large-blue {
    font-size: 24px;
    color: blue;
}