/* TODO 2: Задайте заливку h1 цветом #ff6600 для заголовка h1  */
h1 {
    background-color: #ff6600;
}

/* TODO 3: Задайте заливку h2 цветом #3366cc для заголовка h2 */
h2 {
    background-color: #3366cc;
}

/* TODO 4: Добавьте стиль, чтобы заголовки имели белый цвет текста */

* {
    color: white;
}