/* @media (min-width: 600px) and (max-width: 900px) { */

@media (min-width: 900px),
(max-width: 600px) {
    body {
        background-color: lightblue;
        font-size: 16px;
    }

    .header {
        text-align: center;
    }

    .main-content {
        width: 80%;
        margin: 0 auto;
    }
}

body {
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.main-content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}